@model PersonneModel
<h3>Numéros de téléphone de @Model.Nom</h3>
<hr>
<div class="list-group">
    @foreach (var t in Model.NumeroDeTels)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@Html.DisplayFor(c=>t.Numero)</div>
               
            </div>
            <a asp-controller="Tel" asp-action="Delete" asp-route-id="@t.Id" class="badge bg-danger rounded-pill">x</a>
        </li>
  
    }
</div>
<partial name="/Views/Tel/Create.cshtml" model="@(new TelModel(){IdPersonne=Model.Id})"></partial>
@section Scripts{
       <partial name="_ValidationScriptsPartial"></partial>
}